.imagem {
  border-radius: 30%;
  height: 50%;
  width: 50%;
}

.box-imagem {
  text-align: center;
}


.header-image {
  background: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
}
